<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Home</title>
  <link rel="icon" href="/assets/favicon.ico">
  <script src="https://kit.fontawesome.com/415900c0c9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>

  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-md ">
          <p>
            <figure>
              <a href="/main"><img src="/assets/logo_vip_informatica.png" alt="Minha Figura"></a>
            </figure>
          </p>
        </div>
        <div class="col-6 center">
          <form action="/descricao/?page=1" method="GET">
            <div class="form-row">
              <div class="col">
                <input type="text" id="descricao" name="descricao" class="form-control"
                  placeholder="Pesquise Seus Produtos">
              </div>
              <div class="col">
                <button type="submit" class="">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md center">
          <div class="row">
            <div class="col">
              <p>
                <a class="color" href="/carrinho"><i class="fas fa-shopping-cart"><%='Carrinho' + cartTotal%></i></a>
              </p>
            </div>
            <div class="col">
              <p class="text-right">
                <a class="color" href="/logout"><i class="fas fa-sign-out-alt">Sair</i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ">
            <a class="nav-link" href="/produto?page=1">Produtos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Computador
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Acessórios
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Impressoras
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Telefonia
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Notebooks
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Televisão
            </a>
            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="album py-5">
      <div class="container">

        <div class="row">
          <% 
            products.map(function(produto){
              %>

          <div class="col-lg-4 col-md-12 mb-4">
            <div>
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <div id=<%='alert'+produto.PROD_CODIGO%> class="alert alert-success alert-dismissible text-center"
                    role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Produto adicionado no carrinho. <a href="/carrinho" class="alert-link">Clique aqui para ver seu
                      carrinho</a>.
                  </div>
                  <img src=<%=produto.PROD_IMAG_PATH%>>
                  <a href=<%='/produto/' + produto.PROD_CODIGO%>>
                    <p><strong><%=produto.PROD_DESCRICAO%></strong></p>
                  </a>
                  <div>
                    <button class="" onclick="adicionarNoCarrinho('<%=produto.PROD_CODIGO%>')"
                      id=<%='button'+produto.PROD_CODIGO %>>Adicionar ao
                      Carrinho</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%
            }) %>

        </div>
      </div>
    </div>

  </main>

  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center text-light">© 2020 Copyright:
      <a class="text-light" href="https://csmti.com.br"> CSM Tecnologia da Informação</a>
    </div>
    <!-- Copyright -->

  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>

</body>

</html>