<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Carrinho</title>
</head>

<body>

  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <p>
            <figure>
              <img src="" alt="Minha Figura">
            </figure>
          </p>
        </div>
        <div class="col-6">
          <form action="/descricao/" method="GET">
            <div class="form-row">
              <div class="col">
                <input type="text" id="descricao" name="descricao" class="form-control"
                  placeholder="Pesquise Seus Produtos">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md">
          <p>
            <a href="/carrinho">Carrinho</a>
          </p> 
          <p class="text-right">
            <a href="/logout">Logout</a>
          </p>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ">
            <a class="nav-link" href="/produto?page=1">Produtos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Computador
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Acessórios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Impressoras
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Telefonia
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Notebooks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Televisão
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-2 bg-light">
        <ul>
          <%
                  categories.map(function(categoria){
                      %>
          <li><a href=<%='/categorias/' + categoria.descricao + '?page=1' %>><%= categoria.descricao%></a></li>
          <%
                  });
                  %>
        </ul>

      </div>
      <div class="col-10 bg-light">

        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th class="text-center">Preço</th>
                    <th class="text-center">SubTotal</th>
                    <th> </th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <%
                                let total = 0;
                                if(produtos){
                                    produtos.map(function(produto){
                                        %>

                  <tr>
                    <td class="col-sm-8 col-md-6">
                      <div class="media">
                        <a class="thumbnail pull-left" href="#"> <img class="media-object"
                            src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                            style="width: 72px; height: 72px;"> </a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="#"><%=produto.nome%></a></h4>
                        </div>
                      </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                      <form id=<%='formUpdate' + produto.codigo%> action="/carrinho/update" method="POST">
                        <input type="hidden" name="produto" value=<%=produto.codigo%>>
                        <input type="number" class="form-control" name="qtd" id="exampleInputEmail1" min="1" value=<%=produto.qtd%>>
                      </form>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>$<%=produto.preco%></strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>$<%=produto.subtotal%></strong></td>
                    <td class="col-sm-1 col-md-1">
                      <form action="/carrinho/remove" method="POST">
                        <input type="hidden" name="produto" value=<%=produto.codigo%>>
                        <button type="submit" class="btn btn-danger">
                          <span class="glyphicon glyphicon-remove"></span> Remover
                        </button>
                      </form>
                    </td>
                    <td class="col-sm-1 col-md-1">
                      <button type="submit" class="btn btn-primary" form=<%='formUpdate' + produto.codigo%>>
                        <span class="glyphicon glyphicon-remove"></span> Atualizar
                      </button>
                    </td>
                  </tr>

                  <%

                                        total += produto.subtotal;
                                    })
                                }%>
                  <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                      <h3>Total</h3>
                    </td>
                    <td class="text-right">
                      <h3><strong>$<%=total%></strong></h3>
                    </td>
                  </tr>
                  <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                      <button type="button" class="btn btn-default bg-light" onclick="location.href='/main';">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Comprando
                      </button></td>
                    <td>
                      <button type="button" class="btn btn-success" onclick="location.href='/checkout';">
                        Finalizar Compra <span class="glyphicon glyphicon-play"></span>
                      </button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>


  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
          started guide</a>.</p>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>