<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Carrinho</title>

  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/415900c0c9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/produtos.css">
  <link rel="stylesheet" href="/css/carrinho.css">
  <link rel="stylesheet" href="/css/produtoDetalhe.css">


</head>

<body>

  <main role="main" class="full">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <p>
            <figure>
              <a href="/main"><img src="/assets/logo_vip_informatica.png" alt="Minha Figura"></a>
            </figure>
          </p>
        </div>
        <div class="col-6 center">
          <form action="/descricao?page=1" method="GET">
            <div class="form-row">
              <div class="col">
                <input type="text" id="descricao" name="descricao" class="form-control"
                  placeholder="Pesquise Seus Produtos">
              </div>
              <div class="col">
                <button type="submit" class="">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md center">
          <div class="row">
            <div class="col">
              <p>
                <a class="color" href="/historico"><i class="fas fa-user">Historico</i></a>
                <a class="color" href="/carrinho"><i class="fas fa-shopping-cart"><%='Carrinho' + cartTotal%></i></a>
                <br>
                <a class="color" href="/alterarSenha"><i class="fas fa-key">Modificar Senha</i></a>
              </p>
            </div>
            <div class="col">
              <p class="text-right">
                <a class="color" href="/logout"><i class="fas fa-sign-out-alt">Sair</i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active ">
              <a class="nav-link" href="/produto?page=1">Produtos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/COMPUTADOR?page=1">Computadores <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/ACESSORIOS?page=1">Acessórios <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/IMPRESSORA?page=1">Impressoras <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/TELEFONE?page=1">Telefonia <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/NOTEBOOK@GRAVADOR?page=1">Notebooks <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/TV?page=1">Televisão <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Main layout-->
    <main class="">
      <div class="container dark-grey-text mt-5">
        <div class="centralizar">
          <div class="">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th class="text-center">Preço</th>
                  <th class="text-center">SubTotal</th>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <%
                                      let total = 0;
                                      if(produtos){
                                          produtos.map(function(produto){
      
                                              %>

                <tr>
                  <td class="col-sm-8 col-md-6">
                    <div class="media">
                      <a class="thumbnail pull-left" href=<%='/produto/' + produto.codigo%>> <img class="media-object"
                          src=<%=produto.path%> style="width: 72px; height: 72px;"> </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href=<%='/produto/' + produto.codigo%>><%=produto.nome%></a>
                        </h5>
                      </div>
                    </div>
                  </td>
                  <td class="col-sm-1 col-md-1" style="text-align: center">
                    <form>
                      <input type="hidden" name="produto" value=<%=produto.codigo%>>
                      <input type="number" class="form-control" name="qtd" id=<%='qtd'+ produto.codigo%> min="1"
                        value=<%=produto.qtd%>>
                      <%
                      if(produto.qtd > produto.qtd_estoque){
                        %>
                      <label>
                        <a class="info" data-toggle="popover" data-placement="right"
                          data-content="Produto Sujeito a Análise de Disponibilidade." title=""
                          data-original-title="Produto em Análise">Info</a>

                      </label>
                      <%
                      }
                      %>
                    </form>
                  </td>
                  <td class="col-sm-1 col-md-1 text-center">
                    <strong><%=produto.preco%></strong>
                  </td>
                  <td class="col-sm-1 col-md-1 text-center">
                    <strong><%=produto.subtotal%></strong>
                  </td>
                  <td class="col-sm-1 col-md-1">
                    <form>
                      <input type="hidden" name="produto" value=<%=produto.codigo%>>
                      <button type="button" style="background-color: #333333;"
                        onclick="removerDoCarrinho('<%=produto.codigo%>')" class="">
                        <span class="glyphicon glyphicon-remove"></span> Remover
                      </button>
                    </form>
                  </td>
                  <td class="col-sm-1 col-md-1">
                    <button type="button" style="background-color: #0f0f57;"
                      onclick="atualizarCarrinho('<%=produto.codigo%>')" class="">
                      <span class="glyphicon glyphicon-remove"></span> Atualizar
                    </button>
                  </td>
                </tr>

                <%
      
                                              total += produto.subtotal;
                                          })
                                      }%>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td> </td>
                  <td>
                    <h3>Total</h3>
                  </td>
                  <td class="text-right">
                    <h3><strong><%=cartTotal%></strong>
                    </h3>
                  </td>
                </tr>
                <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td> </td>
                  <td>
                    <button type="button" class="btn btn-default bg-light" onclick="location.href='/main';">
                      <span class="glyphicon glyphicon-shopping-cart"></span> Continue Comprando
                    </button></td>
                  <td>
                    <button type="button" class="" onclick="location.href='/checkout';">
                      Finalizar Compra <span class="glyphicon glyphicon-play"></span>
                    </button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 text-center">

            <h4 class="my-4 h4">Produtos Relacionados</h4>

            <p>Consumidores geralmente levam os seguintes itens também</p>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <%
        produtosRelacionados.map(function(produto){
          %>

          <div class="col-lg-4 col-md-12 mb-4">

            <div>
              <div class="card mb-4 shadow-sm">
                <div class="card-body" onclick="showProduct('<%=produto.PROD_CODIGO%>')">
                  <div onclick="event.stopPropagation()" id=<%='alert'+produto.PROD_CODIGO%>
                    class="alert alert-success detail alert-dismissible text-center collapse" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Produto adicionado no carrinho. <a href="/carrinho" class="alert-link">Clique
                      aqui para ver seu
                      carrinho</a>.
                  </div>
                  <img class="image-zoom" src=<%=produto.PROD_IMAG_PATH[0]%>>
                  <div class="title">
                    <p onclick="event.stopPropagation()"><strong><%=produto.PROD_DESCRICAO%></strong></p>
                  </div>
                  <div class="price">
                    <p onclick="event.stopPropagation()">
                      <strong><%=produto.PROD_PRECO.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></strong>
                    </p>
                  </div>
                  <div>
                    <button class="" onclick="event.stopPropagation();adicionarNoCarrinho('<%=produto.PROD_CODIGO%>',1)"
                      id=<%='button'+produto.PROD_CODIGO %>>Adicionar ao
                      Carrinho</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <%
        })
        %>



        </div>
        <!--Grid row-->

      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer font-small blue pt-4 text-center">
      <!-- Copyright -->
      <p class="text-light"><strong>Filial: <%=filial%></strong></p>
      <div class="footer-copyright text-center text-light">© 2020 Copyright:
        <a class="text-light" href="https://csmti.com.br"> CSM Tecnologia da Informação</a>
      </div><br>
      <!-- Copyright -->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
    <script>
      $('.info').popover({ trigger: "hover" });

      $(':not(#anything)').on('hover', function (e) {
        $('.info').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons and other elements within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
            return;
          }
        });
      });

      function removerDoCarrinho(idProduto) {

        $.ajax({
          url: '/carrinho/remove',
          type: 'DELETE',
          data: { produto: idProduto },
          success: function (response) {
            if (response) {
              location.reload();
              console.log('Deu certo');
            } else {
              alert('Erro na Remoção do Produto no Carrinho. Tente novamente mais tarde');
            }

          }
        });
      }

      function atualizarCarrinho(idProduto) {
        const qtd = $('#qtd' + idProduto).val();
        const qtdNumber = parseInt(qtd);

        $.ajax({
          url: '/carrinho/update',
          type: 'PUT',
          data: { produto: idProduto, qtd: qtdNumber },
          success: function (response) {
            if (response) {
              location.reload();
              console.log('Deu certo');
            } else {
              alert('Erro na Atualização da Quantidade do Produto no Carrinho. Tente novamente mais tarde');
            }

          }
        });

      }

    </script>
    <script src="/js/scripts.js"></script>

    <!-- MDB core JavaScript -->
    <!-- Initializations -->


</body>

</html>