<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Produto</title>

  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/415900c0c9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/produtoDetalhe.css">
  <link rel="stylesheet" href="/css/jquery-picZoomer.css">



</head>

<body>

  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <p>
            <figure>
              <a href="/main"><img src="/assets/logo_vip_informatica.png" alt="Minha Figura"></a>
            </figure>
          </p>
        </div>
        <div class="col-6 center">
          <form action="/descricao/?page=1" method="GET">
            <div class="form-row">
              <div class="col">
                <input type="text" id="descricao" name="descricao" class="form-control"
                  placeholder="Pesquise Seus Produtos">
              </div>
              <div class="col">
                <button type="submit" class="">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md center">
          <div class="row">
            <div class="col">
              <p>
                <a class="color" href="/historico"><i class="fas fa-user">Historico</i></a>
                <a id="carrinho" class="color" href="/carrinho"><i
                    class="fas fa-shopping-cart"><%='Carrinho' + cartTotal%></i></a>
                <br>
                <a class="color" href="/alterarSenha"><i class="fas fa-key">Modificar Senha</i></a>
              </p>
            </div>
            <div class="col">
              <p class="text-right">
                <a class="color" href="/logout"><i class="fas fa-sign-out-alt">Sair</i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active ">
              <a class="nav-link" href="/produto?page=1">Produtos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/COMPUTADOR?page=1">Computadores <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/ACESSORIOS?page=1">Acessórios <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/IMPRESSORA?page=1">Impressoras <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/TELEFONE?page=1">Telefonia <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/NOTEBOOK@GRAVADOR?page=1">Notebooks <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="/categorias/TV?page=1">Televisão <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% product.map(function(produto){
    %>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-7">
        <div id=<%='alert'+produto.PROD_CODIGO%> class="alert alert-success alert-dismissible text-center collapse"
          role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Produto adicionado no carrinho. <a href="/carrinho" class="alert-link">Clique aqui para ver seu carrinho</a>.
        </div>
      </div>
      <div class="col-1">

      </div>
    </div>

    <!-- Navbar -->

    <!--Main layout-->
    <main class="mt-5 pt-4">
      <div class="container dark-grey-text mt-5">
        <div class="centralizar">
          <p>
            <h2><%=produto.PROD_DESCRICAO%></h2>
          </p>
        </div>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <div class="<%=produto.ZOOM%>">
              <img src=<%= produto.PROD_IMAG_PATH[0]%> class="img-fluid" width="500" height="350">
            </div>

            <div style="margin-top: 15px;">
              <ul class="piclist">
                <%
              if(produto.PROD_IMAG_PATH.length > 1){
                produto.PROD_IMAG_PATH.map(function(image){
                  %>
                <li>
                  <img src=<%= image%> alt="">
                </li>
                <%
                })
              }
              %>


              </ul>
            </div>


          </div>

          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!--Content-->
            <div class="p-4">

              <div style="height: 350px;">
                <p style="margin-top: 50px;" class="lead">
                  <strong><span>
                      <h2><%=produto.PROD_PRECO%></h2>
                    </span></strong>
                </p>
                <div class="alert alert-warning collapse" role="alert" id="msgAlerta">
                  Produto Sujeito a Análise de Disponibilidade
                </div>
                <!--
                  <%
                if(produto.PROD_QTD_ATUAL === 0){
                  %>
                  <p>Produto disponível em estoque</p>
                  <%
                }else{
                  %>
                  <div style="background-color: red; width: 80%;">
                    <p style="color: white;">Este produto não possui estoque disponível</p>
                  </div>
                  <%
                }
                %>
              -->

                <form style="margin-top: 150px;" id="addCarinho" class="d-flex justify-content-left"
                  action="/carrinho/add" method="POST">
                  <!-- Default input -->
                  <input id="qtdId" type="number" name="qtd" value="1" aria-label="Search" class="form-control"
                    style="width: 100px" min="1">
                  <input type="hidden" name="produto" value=<%=produto.PROD_CODIGO%>>
                  <button style="width: 200px" class=""
                    onclick="adicionarNoCarrinho('<%=produto.PROD_CODIGO%>', '<%=produto.PROD_QTD_ATUAL%>' ,$('#qtdId').val())" type="button">Adicionar
                    no Carrinho
                    <i class="fas fa-shopping-cart ml-1"></i>
                  </button>

                </form>
              </div>


              <p class="lead font-weight-bold">Descrição</p>

              <p><%=produto.PROD_IMAG_DESCRICAO%></p>


            </div>
            <!--Content-->

          </div>
          <!--Grid column-->

        </div>



        <%

            }) 
            %>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 text-center">

            <h4 class="my-4 h4">Produtos Relacionados</h4>

            <p>Consumidores geralmente levam os seguintes itens também</p>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <%
        produtosRelacionados.map(function(produto){
          %>

          <div class="col-lg-4 col-md-12 mb-4">

            <div>
              <div class="card mb-4 shadow-sm">
                <div class="card-body" onclick="showProduct('<%=produto.PROD_CODIGO%>')">
                  <div onclick="event.stopPropagation()" id=<%='alert'+produto.PROD_CODIGO%>
                    class="alert alert-success detail alert-dismissible text-center collapse" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Produto adicionado no carrinho. <a href="/carrinho" class="alert-link">Clique aqui para ver seu
                      carrinho</a>.
                  </div>
                  <img class="image-zoom" src=<%=produto.PROD_IMAG_PATH[0]%>>
                  <div class="title">
                    <p onclick="event.stopPropagation()"><strong><%=produto.PROD_DESCRICAO%></strong></p>
                  </div>
                  <div class="price">
                    <p onclick="event.stopPropagation()">
                      <strong><%=produto.PROD_PRECO%></strong>
                    </p>
                  </div>
                  <div>
                    <button class="" onclick="event.stopPropagation();adicionarNoCarrinho('<%=produto.PROD_CODIGO%>',1)"
                      id=<%='button'+produto.PROD_CODIGO %>>Adicionar ao
                      Carrinho</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <%
        })
        %>



        </div>
        <!--Grid row-->

      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer font-small blue pt-4 text-center">
      <!-- Copyright -->
      <p class="text-light"><strong>Filial: <%=filial%></strong></p>
      <div class="footer-copyright text-center text-light">© 2020 Copyright:
        <a class="text-light" href="https://csmti.com.br"> CSM Tecnologia da Informação</a>
      </div><br>
      <!-- Copyright -->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
    <script src="/js/jquery.picZoomer.js"></script>
    <script src="/js/produtoDetalhe.js"></script>
    <script src="/js/scripts.js"></script>

    <!-- MDB core JavaScript -->
    <!-- Initializations -->


</body>

</html>